{% include 'CRM/base.html' %}
{% include 'CRM/navbar.html' %}

{% load humanize %}

{% block content %}

{{ request.path_info}}

{% if request.path_info == '/financeOpenBalance' %}
<br>
<div class="container-lg">
    <h2>Open Balance List</h2>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Credit</th>
        <th scope="col">Debit</th>
        <th scope="col">Open Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          {% for x in SOA_OpenBalance %}
        <th scope="row" ><a href="/customerProfile/{{x.customerId}}">{{x.customerId}}</a></th>
        <td>{{x.customerName}}</td>
        <td>{{x.totalCredit}}</td>
        <td >{{x.totalDebit}}</td>
        <td>{{x.openBalance}}</td>


      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
<br>
<div class="container-lg">
    <h2>Closed Balance List</h2>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Credit</th>
        <th scope="col">Debit</th>
        <th scope="col">Open Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          {% for x in SOA_ClosedBalance %}
        <th scope="row" ><a href="/customerProfile/{{x.customerId}}">{{x.customerId}}</a></th>
        <td>{{x.customerName}}</td>
        <td>{{x.totalCredit}}</td>
        <td >{{x.totalDebit}}</td>
        <td>{{x.openBalance}}</td>


      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}
{% endblock %}