{% include 'CRM/base.html' %}
{% include 'CRM/navbar.html' %}

{% block content %}
{% if user.is_authenticated %}

<h1>welcome {{user.get_username}}</h1>
<li><a href="{% url 'CRM:customerList' %}">customerList</a></li>

<a href="{% url 'logout'%}">logout</a>
{% else %}


<a href="{% url 'login'%}">login</a>

{% endif %}

<div class="container">
   source =  index.html
</div>


<br>
   

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
   Launch static backdrop modal
 </button>
 
 <!-- Modal -->
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Understood</button>
       </div>
     </div>
   </div>
 </div>

{% endblock %}