

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{user.get_username}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'CRM:customerList' %}">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Summary List
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'CRM:customerList' %}">Customers List</a></li>
              <li><a class="dropdown-item" href="{% url 'CRM:ProjectsList' %}">Projects List</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Finance
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'CRM:financeOpenBalance' %}">Open Balance</a></li>
              <li><a class="dropdown-item" href="{% url 'CRM:PaymentHitoryList' %}">Payment History</a></li>
              <li><a class="dropdown-item" href="{% url 'CRM:NewPayment' %}">New Payments</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'CRM:financeClosedBalance' %}">Closed Balance</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'CRM:ProjectsList' %}">Projects List</a></li>
              <li><a class="dropdown-item" href="{% url 'CRM:UserCheckProject' %}">Project by user</a></li>
              <li><a class="dropdown-item" href="{% url 'CRM:NewProject' %}">New Project</a></li>
              <li><a class="dropdown-item" href="{% url 'CRM:AssignPoject' %}">Assign Project</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'CRM:ProjectsHistoryList' %}">Projects History List</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              New Customer
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'CRM:signUp' %}">Sign Up</a></li>
              <li><a class="dropdown-item" href="{% url 'CRM:NewCustomerInfo' %}">New Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          {% endif %}

          {% if user.is_authenticated %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Info
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'CRM:UserCheckProject' %}">My Profile</a></li>
              <li><a class="dropdown-item disabled" href="">My Account</a></li>
              <li><a class="dropdown-item disabled" href="">My Projects</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item disabled" href="#">Payments</a></li>
            </ul>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item"></li>
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
          {% endif %}

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  {% endblock %}