{% include 'CRM/base.html' %}
{% include 'CRM/navbar.html' %}


{% block content %}

<div class="container-lg">
    <h4 style="color:rgb(98, 157, 224);">All Comments</h4>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Comment Date</th>
        <th scope="col">Comment</th>
        <th scope="col">Created By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          {% for x in CommentList %}
        <th scope="row" ><a href="/customerProfile/{{x.commentId}}">{{x.commentId}}</a></th>
        <td>{{x.commentDate|date:'d-M-Y - H:i A'}}</td>
        <td>{{x.comment}}</td>
        <td>{{x.createdBy}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>



<div style="background-color: rgb(148, 167, 242);" class="container form-control">



        <H3 style="color:rgb(255, 255, 255);">Add New Comment</H3>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>

        </form>
</div>
</div>

{% endblock %}