{% include 'CRM/base.html' %}
{% include 'CRM/navbar.html' %}



{% block content %}

<br>



<div class="col-md-6 container-sm form-control">
        {% if request.path == '/NewProject' %}
        <h1>Create New Project  </h1>
        
        {% else %}
        <h1>Update Project Info </h1>
        {% endif %}
        <br>
        <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <input class="btn btn-primary" type="submit" value="Save">

        </form>
</div>


{% endblock %}