{% include 'CRM/base.html' %}
{% include 'CRM/navbar.html' %}

{% block content %}

<br>

<div class="col-md-12 container form-control" style="border-radius: 10%;">
        <br>
        {% if request.path == '/NewPayment' %}
        <h2 class="container center" style="">Create New Payment</h2>
        
        {% else %}
        <h2>Update Payment </h2>
        {% endif %}
        <br>
        <form method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <input style="border-radius: 10ch;" class="btn btn-primary form-control" type="submit" value="Save The Payment">
<br>
<br>
        

        </form>
</div>


{% endblock %}