{% include 'CRM/base.html' %}
{% include 'CRM/navbar.html' %}

{% block content %}

<br>
<div class="container-lg">
    <h2>Payment History</h2>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Transaction #</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Transaction Date</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Created By</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          {% for x in PyamentHitoryList %}
        <th scope="row" ><a href="/customerProfile/{{x.transactionId}}">{{x.transactionId}}</a></th>
        <th scope="row" ><a href="/customerProfile/{{x.customerId_id}}">{{x.customerId_id}}</a></th>
        <td>{{x.customerId}}</td>
        <td>{{x.transactionDate}}</td>
        <td>{{x.paymentType}}</td>
        <td>{{x.paymentAmount}} {{x.Currency}}</td>
        <td>{{x.createdBy}}</td>
        <td ><a href="NewPayment">update</a> <a href="deletePayment/{{x.transactionId}}">delete</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{%  endblock %}