{% include 'CRM/base.html' %}
{% include 'CRM/navbar.html' %}
{% load humanize %}

{% block content %}

<br>



<div class="container-lg">
    <h2 style="color: rgb(0, 0, 0); font-family: Georgia, 'Times New Roman', Times, serif; "> Closed Projects List</h2>
<table style="border-style: dotted;" class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Project ID</th>
        <th scope="col">project Name</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Price</th>
        <th scope="col">Active</th>
        <th scope="col">Created By</th>
        <th scope="col">Update</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          {% for x in projectListQuery %}
        <th scope="row" ><a href="/customerProfile/{{x.0}}">{{x.0}}</a></th>
        <td>{{x.1}}</td>
        <td>{{x.2}}</td>
        <td>{{x.3}}</td>
        {% if x.4 == Null %} <td style="color: green; font-family: 'Courier New', Courier, monospace;">On Going</td> {% else %} <td>{{x.4}}</td> {% endif %}
        <td align="right">{{x.5|intcomma}}</td>
        {% if x.6 == True %} <td align="center">Yes</td> {% else %} <td align="center">No</td> {% endif %}
        <td align="center">{{x.7}}</td>
        <td align="center"><button class="btn btn-secondery"><a href="/updateProject/{{x.0}}">Update</a></button></td>
        <td align="center"><button class="btn btn-secondery"><a href="/NewComment/{{x.0}}">View</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}